In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\Users\\udaya\\anaconda3\\lib\\site-packages\\pyspark'

In [2]:
from pyspark.sql import SparkSession
Spark=SparkSession.builder.appName('praveen').getOrCreate()

In [3]:
Data=[('java','299'),('python','899'),('R','299')]
columns=['Language','user_count']
Df=Spark.createDataFrame(Data).toDF(*columns)

In [4]:
Df.show()

+--------+----------+
|Language|user_count|
+--------+----------+
|    java|       299|
|  python|       899|
|       R|       299|
+--------+----------+

In [14]:
Spark2=SparkSession.builder.appName('match').getOrCreate()
df=Spark2.read.csv('C:\\Users\\udaya\\Downloads\\matches.csv',inferSchema=True,header=True)

In [15]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- season: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- date: string (nullable = true)
 |-- team1: string (nullable = true)
 |-- team2: string (nullable = true)
 |-- toss_winner: string (nullable = true)
 |-- toss_decision: string (nullable = true)
 |-- result: string (nullable = true)
 |-- dl_applied: integer (nullable = true)
 |-- winner: string (nullable = true)
 |-- win_by_runs: integer (nullable = true)
 |-- win_by_wickets: integer (nullable = true)
 |-- player_of_match: string (nullable = true)
 |-- venue: string (nullable = true)
 |-- umpire1: string (nullable = true)
 |-- umpire2: string (nullable = true)
 |-- umpire3: string (nullable = true)

In [17]:
df.show(5)

+---+------+---------+--------+--------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+-------------+-------+
| id|season|     city|    date|               team1|               team2|         toss_winner|toss_decision|result|dl_applied|              winner|win_by_runs|win_by_wickets|player_of_match|               venue|       umpire1|      umpire2|umpire3|
+---+------+---------+--------+--------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+-------------+-------+
|  1|  2017|Hyderabad|4/5/2017| Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0| Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...| Anil Dandekar|  Nigel Llong|   null|
|  2|  2017|     Pune|4/6/2017|      Mumbai Indians|Rising Pune Super...|Rising Pune Super...|        field|normal|         0|Rising Pune Super...|          0|             7|      SPD Smith|Maharashtra Crick...|A Nand Kishore|       S Ravi|   null|
|  3|  2017|   Rajkot|4/7/2017|       Gujarat Lions|Kolkata Knight Ri...|Kolkata Knight Ri...|        field|normal|         0|Kolkata Knight Ri...|          0|            10|        CA Lynn|Saurashtra Cricke...|   Nitin Menon|    CK Nandan|   null|
|  4|  2017|   Indore|4/8/2017|Rising Pune Super...|     Kings XI Punjab|     Kings XI Punjab|        field|normal|         0|     Kings XI Punjab|          0|             6|     GJ Maxwell|Holkar Cricket St...|  AK Chaudhary|C Shamshuddin|   null|
|  5|  2017|Bangalore|4/8/2017|Royal Challengers...|      Delhi Capitals|Royal Challengers...|          bat|normal|         0|Royal Challengers...|         15|             0|      KM Jadhav|M Chinnaswamy Sta...|          null|         null|   null|
+---+------+---------+--------+--------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+-------------+-------+
only showing top 5 rows

In [27]:
import pyspark
from pyspark.sql import SparkSession
Spark=SparkSession.builder.appName("employee.com").getOrCreate()

em=[(1,"praveen",-1,"2018","10","M",23000),\
    (2,"raj",1,"2010","20","M",230000),\
    (3,"raja",1,"2006","10","M",235000),\
    (4,"hari",2,"2003","20","M",235000),\
     (5,"surya",2,"2007","40","",-1),\
      (6,"surya",2,"2007","50","",-1)]
       
emColumns = ['emid','name','superior_em_id','year_joined','em_dept_id','gender','salary']
emDf=Spark.createDataFrame(data=em, schema=emColumns)
emDf.printSchema()
emDf.show(truncate=False)
dept=[('finance',10), \
      ('Marketing',20), \
      ('sales',30), \
      ('It',40) \
     ]
deptColumns=["dept_name","dept_id"]
deptDf=Spark.createDataFrame(data=dept,schema=deptColumns)
deptDf.printSchema()
deptDf.show(truncate=False)

root
 |-- emid: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_em_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- em_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+----+-------+--------------+-----------+----------+------+------+
|emid|name   |superior_em_id|year_joined|em_dept_id|gender|salary|
+----+-------+--------------+-----------+----------+------+------+
|1   |praveen|-1            |2018       |10        |M     |23000 |
|2   |raj    |1             |2010       |20        |M     |230000|
|3   |raja   |1             |2006       |10        |M     |235000|
|4   |hari   |2             |2003       |20        |M     |235000|
|5   |surya  |2             |2007       |40        |      |-1    |
|6   |surya  |2             |2007       |50        |      |-1    |
+----+-------+--------------+-----------+----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|finance  |10     |
|Marketing|20     |
|sales    |30     |
|It       |40     |
+---------+-------+

In [31]:

deptDf.withColumnRenamed("dept_name","Department_name").show(truncate=False)

+---------------+-------+
|Department_name|dept_id|
+---------------+-------+
|finance        |10     |
|Marketing      |20     |
|sales          |30     |
|It             |40     |
+---------------+-------+

In [40]:

from pyspark.sql.types import StructType,StructField 
from pyspark.sql.types import StringType, IntegerType, ArrayType
data = [
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M"),
 (("Mike","Mary","Williams"),["Python","VB"],"CA","M"),
  (("Mike","Mary","Williams"),["Python","VB"],"LI","M")
  
]
        
schema = StructType([
     StructField('name', StructType([
        StructField('firstname', StringType(), True),
        StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
     ])),
     StructField('languages', ArrayType(StringType()), True),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
 ])

df = Spark.createDataFrame(data = data, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Anna, Rose, }        |[Spark, Java, C++]|NY   |F     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Maria, Anne, Jones}  |[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}    |[CSharp, VB]      |NY   |M     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
|{Mike, Mary, Williams}|[Python, VB]      |CA   |M     |
|{Mike, Mary, Williams}|[Python, VB]      |LI   |M     |
+----------------------+------------------+-----+------+

In [42]:
df.filter(df.state == "OH").show(truncate=False)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [35]:
df.filter(df.state != "OH").show(truncate=False)

+--------------------+------------------+-----+------+
|name                |languages         |state|gender|
+--------------------+------------------+-----+------+
|{Anna, Rose, }      |[Spark, Java, C++]|NY   |F     |
|{Maria, Anne, Jones}|[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}  |[CSharp, VB]      |NY   |M     |
+--------------------+------------------+-----+------+

In [43]:
df.filter((df.state != "OH") & (df.gender == 'M')).show(truncate=False)

+----------------------+------------+-----+------+
|name                  |languages   |state|gender|
+----------------------+------------+-----+------+
|{Maria, Anne, Jones}  |[CSharp, VB]|NY   |M     |
|{Jen, Mary, Brown}    |[CSharp, VB]|NY   |M     |
|{Mike, Mary, Williams}|[Python, VB]|CA   |M     |
|{Mike, Mary, Williams}|[Python, VB]|LI   |M     |
+----------------------+------------+-----+------+

In [44]:
l=["OH","NY","LI"]
df.filter(df.state.isin(l)).show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
|{Mike, Mary, Will...|      [Python, VB]|   LI|     M|
+--------------------+------------------+-----+------+