In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [3]:
df_ip=pd.read_csv("C:\\Users\\udaya\\Downloads\\matches.csv")

In [4]:
df_ip.head(5)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,4/5/2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",Anil Dandekar,Nigel Llong,NaN
1,2,2017,Pune,4/6/2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,4/7/2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,4/8/2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,4/8/2017,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
df_ip.tail(6)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
750,11346,2019,Mohali,5/5/2019,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,KL Rahul,IS Bindra Stadium,K Ananthapadmanabhan,C Shamshuddin,Bruce Oxenford
751,11347,2019,Mumbai,5/5/2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,A Nand Kishore,CK Nandan,S Ravi
752,11412,2019,Chennai,7/5/2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,8/5/2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/5/2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,S Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/5/2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [7]:
df_ip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [9]:
df_ip["date"].unique()

array(['4/5/2017', '4/6/2017', '4/7/2017', '4/8/2017', '4/9/2017',
       '4/10/2017', '4/11/2017', '4/12/2017', '4/13/2017', '4/14/2017',
       '4/15/2017', '4/16/2017', '4/17/2017', '4/18/2017', '4/19/2017',
       '4/20/2017', '4/21/2017', '4/22/2017', '4/23/2017', '4/24/2017',
       '4/26/2017', '4/27/2017', '4/28/2017', '4/29/2017', '4/30/2017',
       '5/1/2017', '5/2/2017', '5/3/2017', '5/4/2017', '5/5/2017',
       '5/6/2017', '5/7/2017', '5/8/2017', '5/9/2017', '5/10/2017',
       '5/11/2017', '5/12/2017', '5/13/2017', '5/14/2017', '5/16/2017',
       '5/17/2017', '5/19/2017', '5/21/2017', '4/18/2008', '4/19/2008',
       '4/20/2008', '4/21/2008', '4/22/2008', '4/23/2008', '4/24/2008',
       '4/25/2008', '4/26/2008', '4/27/2008', '4/28/2008', '4/29/2008',
       '4/30/2008', '5/1/2008', '5/2/2008', '5/25/2008', '5/3/2008',
       '5/4/2008', '5/5/2008', '5/6/2008', '5/7/2008', '5/8/2008',
       '5/9/2008', '5/28/2008', '5/10/2008', '5/11/2008', '5/12/2008',
       '5/13/2008', '5/14/2008', '5/15/2008', '5/16/2008', '5/17/2008',
       '5/18/2008', '5/19/2008', '5/20/2008', '5/21/2008', '5/23/2008',
       '5/24/2008', '5/26/2008', '5/27/2008', '5/30/2008', '5/31/2008',
       '6/1/2008', '4/18/2009', '4/19/2009', '4/20/2009', '4/21/2009',
       '4/22/2009', '4/23/2009', '4/24/2009', '4/25/2009', '4/26/2009',
       '4/27/2009', '4/28/2009', '4/29/2009', '4/30/2009', '5/1/2009',
       '5/2/2009', '5/3/2009', '5/4/2009', '5/5/2009', '5/6/2009',
       '5/7/2009', '5/8/2009', '5/9/2009', '5/10/2009', '5/11/2009',
       '5/12/2009', '5/13/2009', '5/14/2009', '5/15/2009', '5/16/2009',
       '5/17/2009', '5/18/2009', '5/19/2009', '5/20/2009', '5/21/2009',
       '5/22/2009', '5/23/2009', '5/24/2009', '3/12/2010', '3/13/2010',
       '3/14/2010', '3/15/2010', '3/16/2010', '3/17/2010', '3/18/2010',
       '3/19/2010', '3/20/2010', '3/21/2010', '3/22/2010', '3/23/2010',
       '3/24/2010', '3/25/2010', '3/26/2010', '3/27/2010', '3/28/2010',
       '3/29/2010', '3/30/2010', '3/31/2010', '4/1/2010', '4/2/2010',
       '4/3/2010', '4/4/2010', '4/5/2010', '4/6/2010', '4/7/2010',
       '4/8/2010', '4/9/2010', '4/10/2010', '4/11/2010', '4/12/2010',
       '4/13/2010', '4/14/2010', '4/15/2010', '4/16/2010', '4/17/2010',
       '4/18/2010', '4/19/2010', '4/21/2010', '4/22/2010', '4/24/2010',
       '4/25/2010', '4/8/2011', '4/9/2011', '4/10/2011', '4/11/2011',
       '4/12/2011', '4/13/2011', '4/14/2011', '4/15/2011', '4/16/2011',
       '4/17/2011', '4/18/2011', '4/19/2011', '4/20/2011', '4/21/2011',
       '4/22/2011', '4/23/2011', '4/24/2011', '4/25/2011', '4/26/2011',
       '4/27/2011', '4/28/2011', '4/29/2011', '4/30/2011', '5/1/2011',
       '5/2/2011', '5/3/2011', '5/4/2011', '5/5/2011', '5/6/2011',
       '5/7/2011', '5/8/2011', '5/9/2011', '5/10/2011', '5/11/2011',
       '5/12/2011', '5/13/2011', '5/14/2011', '5/15/2011', '5/16/2011',
       '5/17/2011', '5/18/2011', '5/19/2011', '5/20/2011', '5/21/2011',
       '5/22/2011', '5/24/2011', '5/25/2011', '5/27/2011', '5/28/2011',
       '4/4/2012', '4/5/2012', '4/6/2012', '4/7/2012', '4/8/2012',
       '4/9/2012', '4/10/2012', '4/11/2012', '4/12/2012', '4/13/2012',
       '4/19/2012', '4/14/2012', '4/15/2012', '4/16/2012', '4/17/2012',
       '4/18/2012', '5/10/2012', '4/20/2012', '4/21/2012', '4/22/2012',
       '4/23/2012', '4/24/2012', '4/25/2012', '4/26/2012', '4/27/2012',
       '4/28/2012', '4/29/2012', '4/30/2012', '5/1/2012', '5/2/2012',
       '5/3/2012', '5/4/2012', '5/5/2012', '5/6/2012', '5/7/2012',
       '5/8/2012', '5/9/2012', '5/11/2012', '5/12/2012', '5/13/2012',
       '5/14/2012', '5/15/2012', '5/16/2012', '5/17/2012', '5/18/2012',
       '5/19/2012', '5/20/2012', '5/22/2012', '5/23/2012', '5/25/2012',
       '5/27/2012', '4/3/2013', '4/4/2013', '4/5/2013', '4/6/2013',
       '4/7/2013', '4/8/2013', '4/9/2013', '4/10/2013', '4/11/2013',
       '4/12/2013', '4/13/2013', '4/14/2013', '4/15/2013', '4/16/2013',
       '4/17/2013', '4/18/2013', '4/19/2013', '4/20/2013', '4/21/2013',
       '4/22/2013', '4/23/2013', '5/16/2013', '4/24/2013', '4/25/2013',
       '4/26/2013', '4/27/2013', '4/28/2013', '4/29/2013', '4/30/2013',
       '5/1/2013', '5/2/2013', '5/3/2013', '5/4/2013', '5/14/2013',
       '5/5/2013', '5/7/2013', '5/8/2013', '5/9/2013', '5/10/2013',
       '5/11/2013', '5/12/2013', '5/13/2013', '5/15/2013', '5/6/2013',
       '5/17/2013', '5/18/2013', '5/19/2013', '5/21/2013', '5/22/2013',
       '5/24/2013', '5/26/2013', '4/16/2014', '4/17/2014', '4/18/2014',
       '4/19/2014', '4/20/2014', '4/21/2014', '4/22/2014', '4/23/2014',
       '4/24/2014', '4/25/2014', '4/26/2014', '4/27/2014', '4/28/2014',
       '4/29/2014', '4/30/2014', '5/2/2014', '5/3/2014', '5/4/2014',
       '5/5/2014', '5/6/2014', '5/7/2014', '5/8/2014', '5/9/2014',
       '5/10/2014', '5/11/2014', '5/12/2014', '5/13/2014', '5/14/2014',
       '5/15/2014', '5/18/2014', '5/19/2014', '5/20/2014', '5/21/2014',
       '5/22/2014', '5/23/2014', '5/24/2014', '5/25/2014', '5/27/2014',
       '5/28/2014', '5/30/2014', '6/1/2014', '4/8/2015', '4/9/2015',
       '4/10/2015', '4/11/2015', '4/12/2015', '4/13/2015', '4/14/2015',
       '4/30/2015', '4/15/2015', '4/16/2015', '4/17/2015', '4/18/2015',
       '4/19/2015', '4/20/2015', '4/21/2015', '4/22/2015', '4/23/2015',
       '4/24/2015', '4/25/2015', '4/26/2015', '4/27/2015', '5/7/2015',
       '4/29/2015', '4/28/2015', '5/1/2015', '5/2/2015', '5/3/2015',
       '5/4/2015', '5/5/2015', '5/6/2015', '5/8/2015', '5/9/2015',
       '5/10/2015', '5/11/2015', '5/12/2015', '5/13/2015', '5/14/2015',
       '5/15/2015', '5/16/2015', '5/17/2015', '5/19/2015', '5/20/2015',
       '5/22/2015', '5/24/2015', '4/9/2016', '4/10/2016', '4/11/2016',
       '4/12/2016', '4/13/2016', '4/14/2016', '4/15/2016', '4/16/2016',
       '4/17/2016', '4/18/2016', '4/19/2016', '4/20/2016', '4/21/2016',
       '4/22/2016', '4/23/2016', '4/24/2016', '4/25/2016', '4/26/2016',
       '4/27/2016', '4/28/2016', '4/29/2016', '4/30/2016', '5/1/2016',
       '5/2/2016', '5/3/2016', '5/4/2016', '5/5/2016', '5/6/2016',
       '5/7/2016', '5/8/2016', '5/9/2016', '5/10/2016', '5/11/2016',
       '5/12/2016', '5/13/2016', '5/14/2016', '5/15/2016', '5/16/2016',
       '5/17/2016', '5/18/2016', '5/19/2016', '5/20/2016', '5/21/2016',
       '5/22/2016', '5/24/2016', '5/25/2016', '5/27/2016', '5/29/2016',
       '7/4/2018', '8/4/2018', '9/4/2018', '10/4/2018', '11/4/2018',
       '12/4/2018', '13/04/18', '14/04/18', '15/04/18', '16/04/18',
       '17/04/18', '18/04/18', '19/04/18', '20/04/18', '21/04/18',
       '22/04/18', '23/04/18', '24/04/18', '25/04/18', '26/04/18',
       '27/04/18', '28/04/18', '29/04/18', '30/04/18', '1/5/2018',
       '2/5/2018', '3/5/2018', '4/5/2018', '5/5/2018', '6/5/2018',
       '7/5/2018', '8/5/2018', '9/5/2018', '10/5/2018', '11/5/2018',
       '12/5/2018', '13/05/18', '14/05/18', '15/05/18', '16/05/18',
       '17/05/18', '18/05/18', '19/05/18', '20/05/18', '22/05/18',
       '23/05/18', '25/05/18', '27/05/18', '23/03/19', '24/03/19',
       '25/03/19', '26/03/19', '27/03/19', '28/03/19', '29/03/19',
       '30/03/19', '31/03/19', '1/4/2019', '2/4/2019', '3/4/2019',
       '4/4/2019', '5/4/2019', '6/4/2019', '7/4/2019', '8/4/2019',
       '9/4/2019', '10/4/2019', '11/4/2019', '12/4/2019', '13/04/19',
       '14/04/19', '15/04/19', '16/04/19', '17/04/19', '18/04/19',
       '19/04/19', '20/04/19', '21/04/19', '22/04/19', '23/04/19',
       '24/04/19', '25/04/19', '26/04/19', '27/04/19', '28/04/19',
       '29/04/19', '30/04/19', '1/5/2019', '2/5/2019', '3/5/2019',
       '4/5/2019', '5/5/2019', '7/5/2019', '8/5/2019', '10/5/2019',
       '12/5/2019'], dtype=object)

In [10]:
df_ip.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [12]:
df_ip["win_by_runs"].unique().sum()

4524

In [18]:
df_ip.iloc[df_ip[("win_by_wickets")].idxmax()]

id                                                      3
season                                               2017
city                                               Rajkot
date                                             4/7/2017
team1                                       Gujarat Lions
team2                               Kolkata Knight Riders
toss_winner                         Kolkata Knight Riders
toss_decision                                       field
result                                             normal
dl_applied                                              0
winner                              Kolkata Knight Riders
win_by_runs                                             0
win_by_wickets                                         10
player_of_match                                   CA Lynn
venue              Saurashtra Cricket Association Stadium
umpire1                                       Nitin Menon
umpire2                                         CK Nandan
umpire3                                               NaN
Name: 2, dtype: object

In [20]:
df_ip.iloc[df_ip[("win_by_wickets")].idxmin()]

id                                                         1
season                                                  2017
city                                               Hyderabad
date                                                4/5/2017
team1                                    Sunrisers Hyderabad
team2                            Royal Challengers Bangalore
toss_winner                      Royal Challengers Bangalore
toss_decision                                          field
result                                                normal
dl_applied                                                 0
winner                                   Sunrisers Hyderabad
win_by_runs                                               35
win_by_wickets                                             0
player_of_match                                 Yuvraj Singh
venue              Rajiv Gandhi International Stadium, Uppal
umpire1                                        Anil Dandekar
umpire2                                          Nigel Llong
umpire3                                                  NaN
Name: 0, dtype: object